body {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    background-color: white;
}

h1 {
    font-weight: 350;
    font-style: normal;
    color: #102445;
    }

h2 {
    font-weight: 300;
    font-style: normal;
    color: #102445;
    }

h4 {
    font-weight: 100;
}

p {
    color: #212427;
}

.quote-container {
    position: relative;
    text-align: center;
}

.caliira-splash {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 2;
    text-align: right;
    padding: 0.5rem;
    background: linear-gradient(
    -45deg,
    #102445,
    #006B52
    );
    color: white;
}

.connectionsWrapper {
    border: 1px solid lightgray;
    padding: 5px 10px 10px;
    background: white;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.12);
  }
  
.connectionsWrapper .header {
    position:absolute;
    margin-top:-30px;
    margin-left:-5px;
    margin-right: 0px;
    color: #102445;
    background: white;
    border-top-left-radius:30px;
    border-top-right-radius: 30px;
    padding: 8px 3px 8px 10px;
    box-shadow: 0 1px 20px rgba(255, 255, 255, 0.9);
  }

.connectionsWrapper ul {
    margin-left: 0.3rem;
    margin-top: 1rem;
  }

.connection-arrow {
    z-index: 15;
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-top: 0.2rem;
    margin-inline: auto; 
    width: fit-content;
}

.custom-filled-button {
    background-color: #006B52 !important;
    border-color: #006B52 !important;
}

.custom-filled-button:hover {
    background-color: white !important;
    color: #006B52 !important;
}

.custom-outline-button {
    border-color: #006B52 !important;
    color: #006B52 !important;
}

.custom-outline-button:hover {
    background-color: #006B52 !important;
    color: white !important;
}

.copyright-text {
    color: white;
}

.super-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding: 10px;
}

.feature-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 80%;
}

.container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 1rem; */
    gap: 10px;
}

.offering-detail {
    /* display: flex; */
    background-color: yellow;
}

.card-group {
    gap: 10px;
    min-width: 500px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-card {
    background-color: purple !important;
    padding: 25px;
}

.footer-bg {
    background-color: #102445;
    color: white;
}

.icon-gradient {
    background: linear-gradient(
    0deg,
    #10244599,
    #102445);
}

/* .navbar {
    background-color: #F8FBF0 !important;
} */

.navbar-nav > li > a {
padding: 0;
margin: 0;
}

.text-body-secondary > li > a {
    color: white !important;
}

#tagline-end {
    text-align: right;
    font-weight: 100;
    font-size: x-large;
}
